.media-main .text-muted{
    height: 80px;
}
.dropdown-menu{
    min-width: 125px;
}
.remove-margin-left{
    margin-left:0;
}
.remove-padding-top{
    padding-top: 0px;
}
.view-panel-header{
    width: 40%;
    padding: 7px 20px 10px;
    text-align: left;
}
.hover-print{
    display: none; 
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    background: rgba(0,0,0,.8);
    cursor: pointer;
}
.fa-qrcode{
    font-size: 50px;
    padding:10px;
    color:#ffffff;
}
.add-box-shadow{
     box-shadow: 3px 3px 1px #555;
}
.show-print-icon:hover .hover-print{
    display: block;
}
.fa-print{
    color: #fff;
    font-size: 30px;
}
.add-border-top{
    border-top:3px solid #1e88e5 !important;
}
.qr-small{
    max-height: 50px;
}
.tiny{
    font-size: 84%;
}
.bg-blue{
    background: #1e88e5;
}
.bg-white{
    background: #ffffff;
}
.bg-blue-light{
    background: #98c9f5;
}
.bg-grey-light{
    background: #e2e2e2;
}
.footer-border{
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
}
.add-margin-top{
    margin-top: 20px;
}
.scanning-demo{
    position: absolute;
    width: 73px;
    height: 2px;
    background: red;
    left: 27%;
    top: 30%;
}
.h6-padding-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.text-blue{
    color: #1e88e5;
}
.text-grey{
    color: #444444;
}
.overflow-hidden{
    overflow: hidden;
}
.panel-less-padding{
    padding: 10px 20px !important;
}
.qr-medium{
    max-height: 150px;
}
.add-padding-x{
    padding: 3px 7px;
}
.comment-rating-container{
    padding-top: 15px;
    float: right;
}
.modal-qr-content{
    width: 300px;
    margin: 0 auto;
}
.centered{
    margin: 0 auto;
}
/*THIS IS FOR FLOATING BUTTON*/
.label-container{
    position:fixed;
    bottom:48px;
    right:105px;
    display:table;
    visibility: hidden;
}

.label-text{

    color:#FFF;
    background:rgba(51,51,51,0.5);
    display:table-cell;
    vertical-align:middle;
    padding:10px;
    border-radius:3px;
}

.label-arrow{		
    display:table-cell;
    vertical-align:middle;
    color:#333;
    opacity:0.5;
    z-index: 99999999;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#06C;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 99999999;
}
.float:focus, .float:hover{
    color:#fff;

}

.my-float{
    font-size:24px;
    margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}
/*THIS IS FOR FLOATING BUTTON*/



/*WIZARD STYLE FOR ADDING EVALUATION*/

.accordion_question .panel .panel-heading a[data-toggle=collapse]{
    font-weight: normal !important;
    text-transform: none;
}
.accordion_question .list-unstyled .btn-default{
    margin-bottom: 10px;
    margin-right:5px;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.question_td{
    word-break: break-all;
}
.question_header{
    word-break: break-all;
}